.education {
  padding: 80px;
}

.education h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.education-card{

    background:rgba(27,39,64,.75);

    backdrop-filter:blur(10px);

    border:1px solid rgba(59,130,246,.18);

    border-radius:20px;

    padding:35px;

    transition:all .35s ease;

    will-change: transform;
    
    transform: translateZ(0);

}

.education-card:hover{

    transform:translateY(-8px);

    border-color:#60a5fa;

    box-shadow:
        0 15px 35px rgba(59,130,246,.15);

}

.education-card h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.education-card h4 {
  color: #3b82f6;
  margin-bottom: 20px;
}

.education-card p {
  color: #cbd5e1;
  line-height: 1.8;
  margin-bottom: 15px;
}

@media (max-width:768px){

    .education{
        padding:80px 30px;
    }

    .education h2{
        text-align:center;
    }

    .education-card{
        padding:25px;
    }

    .education-card h3{
        font-size:22px;
    }

}