.education {
  padding: 80px;
}

.education h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.education-card{

    background:#162033;

    border-radius:18px;

    border:1px solid rgba(255,255,255,.08);

    padding:35px;

    transition:.35s;
}

.education-card:hover{

    transform:translateY(-8px);

    border-color:#3b82f6;
}

.education-card h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.education-card h4 {
  color: #3b82f6;
  margin-bottom: 20px;
}

.education-card p {
  color: #cbd5e1;
  line-height: 1.8;
  margin-bottom: 15px;
}