.skills {
  padding: 80px;
}

.skills h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));

  gap: 20px;
}

.skill-card {
  padding: 20px;

  text-align: center;

  border: 1px solid #334155;

  border-radius: 12px;

  font-size: 18px;

  transition: 0.3s;
}

.skill-card:hover {
  border-color: #3b82f6;

  transform: translateY(-5px);
}